body {
	margin: 0;
	padding: 0;
	background: linear-gradient(120deg, #2980b9, #8e44ad);
	height: 100vh;
}
.title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: #fff;
	border-radius: 10px;
}
.title h1 {
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
}
.title form {
	padding: 1px 40px;
	box-sizing: border-box;
	background-color: #161616;
	margin-top: -32px;
}
form .field {
	position: relative;
	border-bottom: 2px solid #adadad;
	margin: 30px 0;
}
.field input {
	width: 100px;
	padding: 0 5px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
	color: #fff;
}

.field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translate(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}

.actions {
	display: flex;
	gap: 70px;
	padding-bottom: 20px;
}
.submit input {
	padding: 5px 30px;
	background: #fff;
	font-weight: bolder;
	font-size: medium;
	cursor: pointer;
	border: none;
}
.submit input:hover {
	background-color: #50cb93;
}
a {
	text-decoration: none;
}
.heading {
	background: #50cb93;
	padding-top: 5px;
}

.email i {
	color: #8e44ad;
}
.password i {
	color: #8e44ad;
}
@media (min-width: 375px) {
	.title {
		margin-left: 5px;
	}
}
@media (width: 768px) {
	.title {
		width: 80%;
		margin-left: -5px;
	}
}
